RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



ErrorDocument 404 /404.php

#DirectoryIndex Options +Indexes

<FilesMatch ".(htaccess)">
  order allow,deny
  deny from all
</FilesMatch>

#Options +MultiViews

IndexIgnore *
